.content {
    width: 100%;
    margin-bottom: 500px;
    margin-top: 60px;
}

.feedback {
    max-width: 600px;
    margin: auto;
}

.post-fb {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    position: relative;
    height: 170px;
}

.post-fb textarea {
    margin: 10px 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    height: 120px;
    border-radius: 10px;
    border: 1px grey solid;
}

button {
    width: 80px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.fb-post {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-color: red;
    padding: 10px;
    border-radius: 8px;
}

.fb-post-left-name {
    width: 200px;
    font-weight: bold;
}

.fb-post-right {
    width: 600px;
}

.fb-post-right-date {
    margin: 10px 0;
}

.view-fb {
    margin: 0 10px;
    margin-bottom: 40px;
}
