* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.top-banner {
    width: 100%;
    height: 900px;
    object-fit: cover;
    margin-bottom: 100px;
}

.fa {
    color: #ffd400;
    width: 28px;
}

.rating-star .fa {
    cursor: pointer;
    font-size: 32px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;

}


/* Header */

.header-top {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.header-bottom {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.logo {
    width: 50px;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.menu-link ,.menu-link ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.link-item {
    list-style: none;
    color: black;
    text-decoration: none;
    padding: 10px;
    /* background: red; */
}

.login {
    display: flex;
    align-items: center;
}

.logged p {
    display: flex;
    float: left;
    margin: 0 10px;
}

#status {
    display: none;
}


/* Footer */

.footer-container {
    color: white;
    background-color: #1D2124;
    padding: 20px 0;
}

.footer-container a {
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.footer-link-item {
    list-style: none;
    color: black;
    text-decoration: none;
    margin: 20px 0;
}

.sosmed img {
    width: 50px;
}

.footer-right{
    margin: 10px 0;
}